.nav-links {
  margin: 10px 0;
  display: flex;
  list-style: none;
}

.nav-links > li > a{
  text-decoration: none;
  font-size: 15px;
  color: white;
}
.nav-link-item {
  padding-right: 1rem;
}
.nav-link-text {
  color: black;
}

.bar-black {
  background-color: black;
  display: flex;
  justify-content: center;
}