.footer-start{
  padding: 20px;
  background-color:rgb(61, 60, 66);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img-container{
  width: 150px;
  height: auto;
}

.list-group-item{
  list-style: none;
  color: rgba(255, 255, 255, 0.507);
}

.list-group-item > li {
  text-decoration: none;
}

@media only screen and (max-width:430px){
  .list-group-item{
    font-size: 10px;
  }
}