
.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-links > li > a{
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  text-decoration: none;
  font-size: 20px;
  color: white;
 
}

.nav-links > li > a:hover, .nav-links > li > a:focus{
  background-size: 100% 2px;
}

.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}
.nav-img {
  margin: 0 10px;
	width: 200px;
	height: 85px;
}

.img-container{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.nav-links-mobil{
  display: none;
}


@media only screen and (max-width:430px){
    .nav-links > li > a:hover, .nav-links > li > a{
      font-size: 10px;
    }
    .nav-links {
      display: block;
    }
    .nav-bar{
      display: none;
    }
    .nav-links-mobil{
      display: flex;
      color: #fff;
      justify-content: center;
      align-items: center;
      margin: 15px;
    }
}